<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <title>Milky | {{username}}'s goal</title>
    <link rel="stylesheet" href="/public/dash/main.css" />
    <link rel="stylesheet" href="/public/dash/bootstrap.min.css"/>
  </head>
  <body class="dotted">
    <div class="realtop">
      <div class="top">
        <div class="titleBar">
          <h1>Hi <span class="edittitle" id="name" contenteditable="true">{{username}}</span>, your goal is to <span class="edittitle" id="goal" contenteditable="true" class="titlespan">{{title}}</span>.</h1>
          <div class="stepDiv deleteDiv">
            <p>DELETE</p>
            <img class="plusimg" src="/public/dash/deletestep.png"/>
          </div>
          <div class="stepDiv addStepDiv">
            <p>ADD STEP</p>
            <img class="plusimg" src="/public/dash/addstep.png"/>
          </div>
        </div>
        <div class="logodiv">
          <img class="logo" src="/public/logo.png" />
        </div>
      </div>
    </div>
    <div class="contain-main-content">
      <h2 class="progressbar-heading">PROGRESS BAR</h2>
      <div class="progressbar">
        <div class="finished-progressbar none">
          <p>0%</p>
        </div>
      </div>
      <!-- Steps containers -->
      <div class="row containsteps">
        {{#each stepsDOMArray}}
          <div id="{{this.index}}step" class="col-md-4">
            <div class="contain-step">
              <img src="/public/dash/delete.png" class="delete-step displaychange" />
              <div class="containtitle">
                <h3 id="{{this.index}}title" contenteditable="true" class="containsteps-titleofstep">{{this.description}}</h3>
              </div>
              <p id="{{this.index}}content" contenteditable="true" class="task-description">{{this.longdescription}}</p>
              <div class="contain-buttons">
                <button class="display-button display-type-button display-{{this.type}}-button">{{this.type}}</button>
                <button class="display-button display-status-button display-{{this.status}}-button">{{inProgressCheck this.status}}</button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>

    <script type="text/javascript" src="/public/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/public/dash/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/dash/jq.js"></script>
  </body>
</html>
